<html>
<head>
    <title>{{ title }}</title>
    <style media="all" type="text/css">
        {% include '@MapbenderQueryBuilder/export-style.css.twig' %}
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    {%- if rows -%}
    <table>
        <thead>
            <tr>
                {%- for column_name in rows | first | keys -%}
                <th>{{ column_name }}</th>
                {%- endfor -%}
            </tr>
        </thead>
        <tbody>
            {%- for row in rows -%}
            <tr>
                {%- for cell_data in row -%}
                <td>{{ cell_data }}</td>
                {%- endfor -%}
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
    {%- endif -%}
</body>
</html>
