$buttonTextColor: #fff !default;
$buttonActiveTextColor: $buttonTextColor !default;

.mb-element-queryBuilder {
  .toolbar {
    margin-bottom: 10px;

      &.floating {
          position: absolute;
      }
  }
  table td.interactions {
    white-space: nowrap;
  }

    .col-md-6:has(.dataTables_filter) {
        width: 100% !important;
    }
}
.qb-button {
    padding: 4px;
    position: relative;
}

.mb-element-queryBuilder {
    .btn-outline-secondary {
    --bs-btn-color: #6c757d;
    --bs-btn-border-color: #ccc;
    --bs-btn-hover-color: #333;
    --bs-btn-hover-bg: #e6e6e6;
    --bs-btn-hover-border-color: #ccc;
    --bs-btn-active-color: #6c757d;
    --bs-btn-active-bg: #e6e6e6;
    --bs-btn-active-border-color: #ccc;
  }

  .mapbender-element-result-table {
    > .dataTables_wrapper {
      > .dataTables_filter > label {
        display: block;
        input {
          display: block;
          width: 100%;
          border: 1px solid #c0c0c0;
        }
        margin-bottom: 8px;
      }
    }
  }
}

.qb-dialog {
  &:focus, :focus {
    outline: none;
  }

  background: #fff;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  font-size: 11px;

  textarea {
    resize: none;
  }
}

.qb-dialog, .mb-element-queryBuilder {
  thead {
    background-color: $buttonFirstColor;
    color: $buttonTextColor;
  }

  .sorting, .sorting_asc, .sorting_desc {
    cursor: pointer;
  }

  .sorting:before, .sorting_asc:before, .sorting_desc:after {
    display: inline-block !important;
    min-width: 1.4em; // Prevent width change on sorting state change
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    line-height: 1;
    transform: translateY(1px);
    right: 1em !important;
  }
  .sorting:before {
    content: "\f0dc" !important; // = .fa-sort / .fa-unsorted
    opacity: 1 !important;
  }
  .sorting_asc:before {
    content: "\f160" !important;   // = .fa-sort-amount-asc
  }
  .sorting_desc:after {
    content: "\f161" !important;   // = .fa-sort-amount-desc
  }
  .sorting:after, .sorting_asc:after, .sorting_desc:before {
      content: "" !important;
  }
}

