.mb-element-queryBuilder {
  .toolbar {
    margin-bottom: 10px;
  }
  &.modal-body {
    padding: 0;
  }
  table .button-navigation .button {
    padding: 0 3px;
    line-height: 2;
    height: auto; // Defeat global fixed pixel height on .button
  }
}

.mb-element-queryBuilder.modal-body {
  > .mapbender-element-result-table {

    > .dataTables_wrapper {
      > .dataTables_filter > label {
        display: block;
        input {
          display: block;
          width: 100%;
          border: 1px solid #c0c0c0;
        }
        margin-bottom: 8px;
      }
    }
  }
}

.qb-dialog {
  // for jqueryDialogExtend
  .ui-dialog-titlebar {
    .ui-dialog-titlebar-buttonpane {
      display: inline-block;
      white-space: nowrap;
      float: right;
      .close {
        float: none;
      }
    }
    &:after {
      // clearfix
      content: ' ';
      clear:both;
      display: table-cell;
    }
  }

  .ui-dialog-content {
    padding: 10px;
    &.queryBuilder-results {
      padding: 0;
    }
  }
  .row {
    // Fix dialog horizontal overflow weirdness
    margin-right: 0;
    :last-child {
      padding-right: 0;
    }
  }
  textarea {
    resize: none;
  }
}
