$buttonTextColor: #fff !default;
$buttonActiveTextColor: $buttonTextColor !default;

.mb-element-queryBuilder {
  .toolbar {
    margin-bottom: 10px;
  }
  table td.interactions {
    white-space: nowrap;
  }
}
.qb-button {
    padding: 4px;
    position: relative;
}

.mb-element-queryBuilder {
  .mapbender-element-result-table {
    > .dataTables_wrapper {
      > .dataTables_filter > label {
        display: block;
        input {
          display: block;
          width: 100%;
          border: 1px solid #c0c0c0;
        }
        margin-bottom: 8px;
      }
    }
  }
}

.qb-dialog {
  &:focus, :focus {
    outline: none;
  }

  background: #fff;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  font-size: 11px;

  .ui-dialog-content {
    flex: 1 1 auto;   // Grow to fill (resizable) space
    height: initial !important; // Overrule inline style
  }
  .ui-dialog-titlebar, .ui-dialog-buttonpane {
    flex: 0 1 auto;   // Minimal height to fit content
  }

  .ui-dialog-titlebar {
    line-height: 2;
    padding: 0 0 0 15px;
    color: $buttonActiveTextColor;
    background-color: $buttonFirstActiveColor;
    font-size: 16px;
    > .ui-button, > .ui-dialog-titlebar-buttonpane {
      font-size: inherit;
      color: inherit;
      float: right;
      border: none;
      text-indent: 0;
      outline: none;
      background: transparent;
    }
    .ui-dialog-titlebar-close {
      &:before {
        content: "\f00d"; // =.fa-times
        font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Pro";
      }
      .ui-button-icon {
        display: none;
      }
    }
  }
  .ui-dialog-content, .ui-dialog-buttonpane {
    padding: 15px;  // Exact value required to prevent overflow of Bootstrap .row
  }

  .ui-dialog-content {
    width: auto;
    min-width: 100%;
    outline: none;
    // Fix horizontal scroll weirdness on non-resizable height: auto dialog
    overflow: visible;
    &.queryBuilder-results {
      overflow-y: auto;
    }
    label, .form-control {
      font-size: inherit;
    }
    .control-label {
      color: #707070;
    }
  }
  textarea {
    resize: none;
  }
  .ui-dialog-buttonpane {
    text-align: right;
    .ui-dialog-buttonset > * {
      margin-left: 0.5em;
    }
  }
}
.qb-dialog, .mb-element-queryBuilder {
  thead {
    background-color: $buttonFirstColor;
    color: $buttonTextColor;
  }

  .sorting, .sorting_asc, .sorting_desc {
    cursor: pointer;
  }

  .sorting:before, .sorting_asc:before, .sorting_desc:after {
    display: inline-block !important;
    min-width: 1.4em; // Prevent width change on sorting state change
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    line-height: 1;
    transform: translateY(1px);
    right: 1em !important;
  }
  .sorting:before {
    content: "\f0dc" !important; // = .fa-sort / .fa-unsorted
    opacity: 1 !important;
  }
  .sorting_asc:before {
    content: "\f160" !important;   // = .fa-sort-amount-asc
  }
  .sorting_desc:after {
    content: "\f161" !important;   // = .fa-sort-amount-desc
  }
  .sorting:after, .sorting_asc:after, .sorting_desc:before {
      content: "" !important;
  }
}
