{# note: wideLabelForm is Mapbender >= 3.0.5.0; extraWideLabelForm is Mapbender >= 3.0.8 #}
<div class="elementForm wideLabelForm extraWideLabelForm elementFormQueryBuilder">
    {{ form_row(form.title) }}
    {{ form_rest(form.configuration) }}
</div>
