<div id="{{ id }}"
     class="mb-element mb-element-queryBuilder modal-body"
     title="{{ title | trans }}">
    <div class="-js-edit-template hidden">
        {% include 'MapbenderQueryBuilderBundle:Element:query-edit.html.twig' %}
    </div>
    <div class="toolbar hidden">
        <button type="button" class="btn button -fn-create"><i class="fa fas fa-plus"></i></button>
    </div>
</div>
