    <div class="-js-edit-template hidden">
        {% include '@MapbenderQueryBuilder/Element/query-edit.html.twig' %}
    </div>
    <div class="toolbar hidden">
        <button type="button" class="btn btn-sm btn-outline-secondary -fn-create" title="{{ 'mb.querybuilder.frontend.Create' | trans }}"><i class="fa fas fa-plus"></i></button>
    </div>
    <div class="-js-table-wrap mapbender-element-result-table"></div>
