{%- form_theme form 'bootstrap_3_layout.html.twig' -%}

<div class="row">
    <div class="col-xs-6 col-sm-6">
        {{- form_row(form.title) -}}
    </div>
    <div class="col-xs-3 col-sm-3">
        {{- form_row(form.connection) -}}
    </div>
    <div class="col-xs-3 col-sm-3">
        {{- form_row(form.order) -}}
    </div>
</div>
<div class="row">
    <div class="col-12 col-xs-12">
        {{- form_row(form.sql) -}}
    </div>
</div>
